
<ul>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>Bootstrap demo</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
  </head>
  <body>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/js/bootstrap.bundle.min.js" integrity="sha384-HwwvtgBNo3bZJJLYd8oVXjrBZt8cqVSpeBNS5n7C8IVInixGAoxmnlMuBnhbgrkm" crossorigin="anonymous"></script>

<center> <h1>Articles</h1>
<h2>Our blog has <%= Article.public_count %>  articles and counting! </h2>
</center>
<% @articles.each do |article| %>
    <% unless article.archived? %>
    <div class="card" style="width: 18rem;">
  <ul class="list-group list-group-flush">
    <li class="list-group-item">
      <%= link_to article.title, article %>
    </li>
     </ul>
</div>
    <% end %>
<% end %>

</ul>
<div class="card">
  <div class="card-body">
<h5 class="card-title">
<center> 
<button type="button" class="btn btn-link">
<%= link_to "New Article", new_article_path %>
</button>
</center>
</h5>
  </div>
</div>
  </body>